doctype
html
	head
		meta(charset='utf-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='msapplication-tap-highlight', content='no')
		// WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
		link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.1/bootstrap-material-design.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		title Tap Time
	body
		.app
			.content-1
				.cont.col-xs-offset-4.col-xs-4
					h2#level
					h2
						span.seg 00
						span :
						span.dec 00
				.life.col-xs-4
				.showTime.col-xs-12                      
				.botoes			
				.cont-progres.col-xs-12
					.progress.progress-striped.active
						.progress-bar
		
			.content-2.col-xs-12.hidden
				h1#resu Parabens !
				h2
						span.seg 00
						span :
						span.dec 00
				h3#tentativas Tentativas: 
				a.btn.btn-raised.btn-sm(href='javascript:void(0)').restart Recomeçar

			script(src="bower_components/jquery/dist/jquery.min.js")
			script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
			//script(src="bower_components/bootstrap-material-design/dist/js/material.min.js")
			//script(type='text/javascript', src='cordova.js')
			script(type='text/javascript', src='js/index.js')
			script(type='text/javascript').
				app.initialize();
